body {
    margin: 0px;
    font-family: 'Baloo Thambi 2', cursive;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fd3d3d;

    h1, h2 {
        display: flex;
        justify-content: center;
        
    }
}